discord~=2.1.0
discord.py
pyMongo~=4.3.3
dnspython
urllib3
bs4~=0.0.1
googlesearch-python
google_images_search
motor~=3.1.1
selenium~=4.1.0
requests~=2.25.1
aiohttp~=3.8.3
beautifulsoup4~=4.9.3
python-dotenv~=1.0.1